main {
    display: grid;
    grid-template-columns: 1fr;
}

main section {
    background-color: #dddddd;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 10px;
}

main section h3 {
    text-align: center;
}

img {
    width: 100%;
}

