.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  li {
    display: block;
  }
  li:first-child {
    display: none;
  }
}

.imgframe {
  padding: 0;
}

.advgrid {
  display: flex;
  justify-content: space-between;
}

.advitem {
  display: block;
  max-width: 300px;
}
