.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    li {
        display: block;
    }
    li:first-child {
        display: none;
    }
}

#advgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#adv1, #adv2, #adv3 {
    display: block;
    max-width: 300px;
    justify-content: space-between;
    
}