header,
footer {
  background-color: $blue;
  color: $white;
}

header {
  padding-top: 1rem;
  img {
    max-width: 100px;
    margin-right: 1rem;
  }
}

footer {
  padding: 1rem 0;
  a {
    color: $white;
  }
}

h1,
h2,
h3,
h4,
h5,
h5 {
  font-family: "Permanent Marker", cursive;
  font-weight: 100;
}

h1 {
  font-size: 2.5em;
}

body {
  font-family: "Roboto", sans-serif;
}

nav {
  text-align: center;
  background-color: $darkBlue;
  ul {
    display: block;
    list-style: none;
  }
  li a {
    text-decoration: none;
    color: $white;
  }
}

.fullwidth {
  width: 100%;
  display: block;
  align-content: center;
}

.headstyle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.contentwidth {
  max-width: 1000px;
  margin: auto;
}

.navigation {
  display: block;
  list-style-type: none;
  padding: 0;
  li {
    display: none;
    a {
      display: block;
      color: $white;
      text-decoration: none;
      text-align: center;
      padding: 1rem;
    }
    a:hover {
      background-color: $blue;
    }
    a:active {
      background-color: $blue;
    }
  }
  li:first-child {
    display: block;
  }
}

.currentpage {
  background-color: $blue;
}

.responsive li {
  display: block;
}

.contactsection {
  display: block;
}

#cta {
  img {
    width: 100%;
  }
}

#advgrid {
  display: block;
}

#adv1,
#adv2,
#adv3 {
  display: block;
  img {
    width: 100%;
  }
}
