header,
footer {
  background-color: $blue;
  color: $white;
}

header {
  padding-top: 1rem;
  img {
    max-width: 100px;
    margin-right: 1rem;
  }
}

footer {
  padding: 1rem 0;
  a {
    color: $white;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Permanent Marker", cursive;
  font-weight: 100;
}

h1 {
  font-size: 2.5rem;
}

body {
  font-family: "Roboto", sans-serif;
}

nav {
  text-align: center;
  background-color: $darkBlue;
  ul {
    display: block;
    list-style: none;
  }
  li a {
    text-decoration: none;
    color: $white;
  }
}

.fullwidth {
  width: 100%;
  display: block;
  align-content: center;
}

.headstyle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.contentwidth {
  max-width: 1000px;
  margin: auto;
}

.navigation {
  display: block;
  list-style-type: none;
  padding: 0;
  li {
    display: none;
    a {
      display: block;
      color: $white;
      text-decoration: none;
      text-align: center;
      padding: 1rem;
    }
    a:hover {
      background-color: $blue;
    }
    a:active {
      background-color: $blue;
    }
  }
  li:first-child {
    display: block;
  }
}

.pagetitle {
  text-align: center;
}

.currentpage {
  background-color: $blue;
}

.responsive li {
  display: block;
}

#cta {
  img {
    width: 100%;
  }
}

#localweather {
  text-align: center;
  background-color: $darkBlue;
  color: $white;
  padding: 1rem;
  margin: 1rem 0;
}

.advgrid {
  display: block;
}

.advitem {
  display: block;
  img {
    width: 100%;
  }
}

.advdescription {
  padding: 0 1rem;
}

.imgframe {
  width: 100%;
}

.col2container {
  display: block;
}

.col2 {
  padding: 1rem;
}

.wcol1,
.wcol2,
.col2 {
  width: 90%;
  margin: auto;
}

form {
  display: grid;
  max-width: 500px;
  margin: 0 auto 2rem auto;
  padding: 0 2em;
}

form label {
  display: grid;
  margin-bottom: 1.5em;
  font-weight: bold;
}

form input,
select,
textarea {
  border-radius: 5px;
  margin-top: 0.5em;
  padding: 0.75em;
}

.requiredform {
  color: #b80000;
  font-weight: bold;
}

.herobtn {
  text-align: center;
  margin-top: -8rem;
  margin-bottom: 5rem;
}

.greenbtn {
  height: 3em;
  background-color: $green;
  color: $white;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 15px;
  border: 1px solid $white;
  padding: 1rem 3rem;
  box-shadow: 0 0 20px 10px $white;
}

#formkey {
  text-align: right;
}

#status {
  text-transform: capitalize;
}

table {
  margin: auto;
  border-collapse: collapse;
  width: 500px;
}

th,
td {
  border: 1px solid $blue;
  border-collapse: collapse;
  border-spacing: 0px;
  padding: 1rem;
}

th {
  background-color: $darkBlue;
  color: $white;
}
