.date-chart {
   
}

.date-entry {
    display: grid;
    border-bottom: 1px solid $dark-gray;
    grid-template-columns: 3fr 1fr 8fr;
    text-decoration: none;
    color: $body-font;
}

.link-list-headline {
    color: $white;
    margin: 0;
    padding: 0.25em 0.5em;
}

.link-list-item {
    padding: 0.5em;
    margin: 0;
}


.box-link-list {
   
    a {
        background-color: $light-gray;
        line-height: 1em;
        display: block;
        border-right: 1px solid $dark-gray;
        border-bottom: 1px solid $dark-gray;
        border-left: 1px solid $dark-gray;
    }
}