/* @media (min-width: 32.5em) { */
  @media (min-width: 650px) {
    .forecast {
        display: flex;
      }
    
      .contactmap {
        display: block;
      }

      .gallery {
        grid-template-columns: 1fr 1fr;
      }

      .towncardimg, .desc {
        width: 50%;
      }

      .towncard {
        flex-direction: row;
      }

      .towncard:nth-child(even) {
        flex-direction: row-reverse;
      }
}