.cards {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  box-shadow: 0 0 20px -2px black;
  padding: 1rem;
}

section {
  background-color: #285990;
  padding: 1rem;
  margin: 0.5rem;
  width: 85%;
  border: 1px solid #013D5D;
}

img {
  box-shadow: 0 0 15px -2px black;
  margin: auto;
  width: 100%;
}

h1,
h2 {
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
}

h1 {
  color: #013D5D;
}

h2, p {
    color: white;
}

body {
  text-align: center;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

footer {
    text-align: center;
    padding: 1rem;
}

@media (min-width: 650px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 60em) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
